<form method="POST" action="/recipes/<%= @recipe.id%>">


<input id="hidden" type="hidden" name="_method" value="patch">

<h1>Name: <input type="text" name="name" value="<%= @recipe.name %>"></h1>
<p>Ingredients: <input type="text" name="ingredients" value="<%= @recipe.ingredients%>"></p>
<p>Cook Time: <input type="text" name="cook_time" value="<%= @recipe.cook_time %>"></p>
<br>
<input type="submit" name="" value="submit">
</form>


</form>


